[package]
name = "bluez-async"
version = "0.5.5"
authors = ["Andrew Walbran <qwandor@google.com>", "David Laban <alsuren@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "An async wrapper around the D-Bus interface of BlueZ (the Linux Bluetooth daemon), supporting GATT client (central) functionality."
repository = "https://github.com/bluez-rs/bluez-async/"
keywords = ["ble", "bluetooth", "bluez"]
categories = ["api-bindings", "hardware-support", "os::linux-apis"]

[dependencies]
async-trait = "0.1.56"
bitflags = "1.2.1"
bluez-generated = { version = "0.2.1", path = "../bluez-generated" }
dbus = { version = "0.9.5", features = ["futures"] }
dbus-tokio = "0.7.5"
futures = "0.3.8"
itertools = "0.10.0"
log = "0.4.11"
serde = { version = "1.0.137", features = ["derive"] }
serde-xml-rs = "0.5.0"
thiserror = "1.0.23"
tokio = { version = "1.13.1", features = ["rt"] }
uuid = "0.8.1"

[dev-dependencies]
eyre = "0.6.5"
pretty_env_logger = "0.4.0"
tokio = { version = "1.13.1", features = ["macros", "rt", "rt-multi-thread", "time"] }
